.host-controls-view {
  $this: &;

  height: 35px;
  background-color: darkgrey;
  color: white;

  &__controls {
    width: calc(100% - 300px);
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  &__volume {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: 40px;
  }

  &__question-set-select {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;

    select {
      width: 200px;
    }
  }

  &__reset {
    width: 85px;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    position: absolute;
    right: 25px;
  }

  &__btns {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
  }

  &__btn {
    margin-left: 10px;
    height: 20px;
  }

  &__reset-btn {
    background-color: red;
  }

  &__show-answer {
    margin-left: 15px;
  }

}