.contestant-header {
  $this: &;

  margin-bottom: 15px;
  width: 100%;

  .header-text {
    width: 50%;
    color: #006dcc;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
  }

  &__name {
    @extend .header-text;
    text-align: left;
  }

  &__score {
    @extend .header-text;
    text-align: right;
  }

}