.app-modal {
  $this: &;


  &__overlay {
    $this: &;

    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    opacity: 0.8;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &--visible {
      display: block;
    }
  }

  &__content {
    position: absolute;
    z-index: 101;
    width: 50%;
    height: 50%;
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;
    background-color: white;
    border-radius: 10px;
    display: none;

    &--visible {
      display: block;
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    animation-name: fade-in;
    animation-duration: 0.3s;
  }

}