%bar {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
}

.volume-control {
  $this: &;

  width: 100%;
  height: 100%;

  &__wrapper {
    height: 100%;
  }

  &__mute-wrapper {
    width: 50px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }

  &__mute {
    width: 100%;
    height: 50%;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    box-sizing: border-box;
  }

  &__bars {
    width: calc(100% - 50px);
    display: inline-block;
    vertical-align: top;
    height: 100%;
    position: relative;

    &--filled {
      background-color: red;
    }
  }

  &__bar-one {
    @extend %bar;
    height: calc(100% * 0.1);
    left: 10px;
  }

  &__bar-two {
    @extend %bar;
    height: calc(100% * 0.2);
    left: 25px;
  }

  &__bar-three {
    @extend %bar;
    height: calc(100% * 0.3);
    left: 40px;
  }

  &__bar-four {
    @extend %bar;
    height: calc(100% * 0.4);
    left: 55px;
  }

  &__bar-five {
    @extend %bar;
    height: calc(100% * 0.5);
    left: 70px;
  }

  &__bar-six {
    @extend %bar;
    height: calc(100% * 0.6);
    left: 85px;
  }

  &__bar-seven {
    @extend %bar;
    height: calc(100% * 0.7);
    left: 100px;
  }

  &__bar-eight {
    @extend %bar;
    height: calc(100% * 0.8);
    left: 115px;
  }

  &__bar-nine {
    @extend %bar;
    height: calc(100% * 0.9);
    left: 130px;
  }

  &__bar-ten {
    @extend %bar;
    height: 100%;
    left: 145px;
  }
}