.welcome {
  $this: &;

  text-align: center;
  margin-top: 50px;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  &__msg {
    width: 100%;
    font-size: 40px;
    margin-bottom: 50px;
  }

  &__register-url {
    font-size: 60px;
    margin-bottom: 50px;
    color: #006dcc;
  }

}