.contestant-register {
  $this: &;

  padding: 5px;

  &__input {
    height: 40px;
    font-size: 30px;
    border-radius: 5px;
    margin-right: auto;
  }

  &__btn {
    background-color: #00BCFF;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    color: white;
    margin-left: auto;
  }
}
