.buzzer {
  $this: &;

  &__btn {
    background-color: #ff4d4d;
    height: 100px;
    width: 100%;
    padding: 5px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    font-size: 60px;
    color: white;

    &--disabled {
      font-size: 25px;
      background-color: white;
      opacity: 1;
      border: 2px solid #ff4d4d;
      color: red;
      font-weight: bolder;
    }

    &--answering {
      border: 2px solid green;
      color: green;
    }
  }



}