.app-footer {
  background-color: black;
  width: 100%;
  left: 0px;
  position: fixed;
  bottom: 0px;
  height: 25px;
  text-align: right;
  vertical-align: middle;
  line-height: 25px;
  font-size: 10px;
  padding-right: 30px;
  color: white;
}