.contestant-answering {
  $this: &;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  word-wrap: break-word;

  &__name {
    width: 100%;
    font-size: 100px;
    color: #006dcc;
    text-align: center;
  }

  &__content {
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
  }

}