.contestant-avatar-controls {
  $this: &;

  width: 100%;
  margin-top: 10px;

  & .button-wrapper {
    display: inline-block;
  }

  & .text-input__wrapper {
    display: inline-block;
    width: 65px;
  }

  &__btn {
    margin-left: 8px;
  }

  &__enable-disable-wrapper {
    display: inline-block;
    width: 50%;
  }

  &__edit-score-wrapper {
    display: inline-block;
    width: 50%;
    text-align: right;
  }

  &__edit-score-btn {
    display: inline-block;
    margin-right: 8px;
  }

  &__edit-score-input {
    display: inline-block;
    width: 65px;
  }
}
