.game-view__clues-list {
  width: 90%;
  margin: 25px auto 25px auto;
  text-align: left;
  font-size: 35px;
  color: white;

  &--host {
    font-size: 15px;
  }
}

.game-view__clue {
  background-color: #006dcc;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  margin-top: 25px;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  animation-name: fade-in;
  animation-duration: 0.5s;

  &--host {
    margin-top: 5px;
  }
}

.contestant-view__clues-list {
  width: 100%;
  margin-top: 20px;
}

.contestant-view__clues-answer {
  margin-top: 15px;
  text-align: center;
  font-weight: bolder;
}

.contestant-view__clue {
  border: 1px solid #006dcc;
  border-radius: 2px;
  margin-top: 10px;
  text-align: center;
  padding: 3px;
}