.game-view {
  width: 70%;
  height: 90%;
  display: inline-block;
  float: right;
}

.game-view__banner {
  width: 90%;
  margin: 25px auto 25px auto;
  text-align: center;
  font-size: 60px;
}

.game-view__banner--answer {
  width: 90%;
  position: relative;
  @keyframes slide-in-from-right {
    from {
      right: 0%;
      left: 100%;
    }
    to {
      right: 100%;
      left: 0%;
    }
  }
  animation-name: slide-in-from-right;
  animation-duration: 0.5s;
}
