<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>Bring Your Own Trivia</title>
    </head>
    <body>
        <div id="byo-trivia-app-wrapper"></div>
        <script>
            (function () {
                document.documentElement.removeAttribute('class');
            })();
        </script>
    </body>
</html>