.contestant-avatar {
  height: 55px;
  font-size: 50px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  right: 0%;
  @keyframes slide-in-from-left {
    from {
      right: 100%;
    }
    to {
      right: 0%;
    }
  }
  animation-name: slide-in-from-left;
  animation-duration: 0.5s;
}

.contestant-avatar__name--answering {
  background-color: #ff4d4d !important;
  color: white !important;
  @keyframes change-color {
    from {
      background-color: #e6e6e6;
      color: #737373;
    }
    to {
      background-color: #ff4d4d;
      color: white;
    }
  }
  animation-name: change-color;
  animation-duration: 0.3s;
}

.contestant-avatar--not-allowed {
  opacity: 0.3;
}

.contestant-avatar__name {
  display: inline-block;
  vertical-align: top;
  width: calc(80% - 8px);
  text-align: left;
  padding-left: 8px;
  background-color: #e6e6e6;
  color: #737373;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.contestant-avatar__score {
  display: inline-block;
  vertical-align: top;
  width: calc(20% - 8px);
  text-align: center;
  padding-right: 8px;
  background-color: #ff4d4d;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
